
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Student Registration</title>
</head>
<body>
    <h2>Student Registration Form</h2>
    @using (Html.BeginForm("Regis", "StudentRegistration"))
    {
<table border="1" style="border-collapse:collapse" cellpadding="5">
    <tr>
        <td>@Html.Label("Student Name")</td>
        <td>@Html.TextBox("name")</td>
    </tr>
    <tr>
        <td>@Html.Label("Gender")</td>
        <td>
            @Html.RadioButton("gender", "Male")Male
            @Html.RadioButton("gender", "Female")Female
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Email")</td>
        <td>@Html.TextBox("email")</td>
    </tr>
    <tr>
        <td>@Html.Label("Address")</td>
        <td>
            @{
                IEnumerable<string> strad = new List<string>
                { "Hanoi","Da nang","Nghe an"};
            }
            @Html.DropDownList("address", new SelectList(strad, strad.FirstOrDefault()), "--Select--")

        </td>
    </tr>
    <tr>
        <td>@Html.Label("Subject")</td>
        <td>
            @Html.CheckBox("History")History
            @Html.CheckBox("Science")Science
            @Html.CheckBox("Geography")Geography
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Username")</td>
        <td>@Html.TextBox("username")</td>
    </tr>
    <tr>
        <td>@Html.Label("Password")</td>
        <td>@Html.Password("password")</td>
    </tr>
    <tr>
        <td>@Html.Label("Commnet")</td>
        <td>@Html.TextArea("comment","")</td>
    </tr>
    <tr>
        <td><input type="submit" value="Regis"/></td>
        <td><input type="reset" value="Cancel"/></td>
    </tr>

</table>
            }
</body>

