@model Bai6.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Regis</title>
</head>
<body>
    <div>
        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.subject)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.subject)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.comment)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
