@model OnTapTX1.Models.NhanVien
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>
<table border="1">
    <tr>
        <td>Ma nhan vien</td>
        <td>@Model.manv</td>
    </tr>
    <tr>
        <td>Ho ten</td>
        <td>@Model.hoten</td>
    </tr>
    <tr>
        <td>Dia chi</td>
        <td>@Model.diachi</td>
    </tr>
    <tr>
        <td>So ngay lam</td>
        <td>@Model.songaylam</td>
    </tr>
    <tr>
        <td>Luong ngay</td>
        <td>@Model.luongngay</td>
    </tr>
    <tr>
        <td>Tien Luong</td>
        <td>@Model.tienluong</td>
    </tr>

</table>
