@model OnThiKTHP.Models.NhanVien

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NhanVien</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Hoten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tuoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tuoi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tuoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diachi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Luong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Luong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Luong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maphong, "Maphong", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Maphong", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Maphong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <input type="submit" value="Save" id="btnSave" name="btnSave" class="btn btn-default" />




                @*<input type="submit" value="Save" id="btnSave" name="btnSave" class="btn btn-default" />*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*Thêm id msg để thông báo việc thêm dữ liệu có thành công hay không *@
@*<div id="msg" style="color:red"> </div>*@


<div id="msg" stype="color: red"></div>


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                var nv = {};
                nv.Hoten = $("#Hoten").val();
                nv.Tuoi = $("#Tuoi").val();
                nv.Luong = $("#Luong").val();
                nv.Diachi = $("#Diachi").val();
                nv.Maphong = $("#Maphong").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("/Create")',
                    data: '{nhanVien: ' + JSON.stringify(nv) + '}',
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        if (response.result == true) {
                            $("#msg").html("Tgem thanh cong");
                        } else {
                            $("#msg").html(response.error);
                        }
                    },
                    error: function (response) {
                        $("#msg").html("Them that bai");
                    }

                });
                return false;
            });
        });
    </script>







    @*<script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                var nhanVien = {};
                //tạo các thuộc tính và gán các giá trị. Tên cac thuộc tính này phải trùng với tên các thuộc tính của class NhanVien
                nhanVien.Hoten = $("#Hoten").val();
                nhanVien.Tuoi = $("#Tuoi").val();
                nhanVien.Diachi = $("#Diachi").val();
                nhanVien.Luong = $("#Luong").val();
                nhanVien.Maphong = $("#Maphong").val();


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("/Create")',
                    data: '{nhanVien: ' + JSON.stringify(nhanVien) + '}',
                    dataType: "json",
                    contentType: "application/json;charset=utf8",
                    success: function (response) {
                        if (response.result == true) {
                            $("#msg").html("Them thanh cong");
                        } else {
                            $("#msg").html(response.error);
                        }
                    },
                    error: function (response) {
                        alert("Them that bai");
                    }
                });
                return false;
            });
        });
    </script>*@

}
