@* Khai báo sử dụng đối tượng Employee được truyền sang từ
    action method CalSalaryV1*@
@model Bai4.Models.Employee
@{
    ViewBag.Title = "Calculate Salary V1";
}

<h2>Calculate CalSalary V1</h2>
<li>ID: @Model.id</li>
<li>NAME: @Model.name</li>
<li>AMOUNT: @Model.amount</li>
<li>SALARY: @Model.salary</li>
<li>BONUS: @Model.bonus</li>
<li>TOTAL: @Model.total</li>

